@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* world access file */


.btn {
    padding: 15px 20px;
    font-size: 15px;
    letter-spacing: .4px;
    font-weight: bold;
    cursor: pointer; 
}

.container {
    padding: 0 80px;
}

.para {
    font-size: 14px;
}

.text-lg {
    font-size: 29px;
}

.text-md {
    font-size: 21px;
}

li { 
    list-style: none;
}

p { 
    letter-spacing: .1px;
    line-height: 1.7;
}

h1,h2,h3,h4 {
    letter-spacing: .1px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

/* header style  */

header {
    height: 100vh;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div img {
    height: 215px;
    margin-bottom: 5px;
}

main div h1 {
    font-size: 43px;
    text-align: center;
}

main div p {
    color: #0D1321;
    text-align: center;
    margin: 18px 0;
}

main div button {
    background-color: #000000;
    border-radius: 5px;
    border: none;
    transition: all .2s linear;
}

main div button:hover {
    background-color: #000000ca;
}

main div button a {
    color: white;
}

/*===================================================
========== whu web development style================
====================================================*/

.why-web {
    margin-top: 50px;
}

.wwd-content h1 {
    font-size: 29px;
}

.wwd-content p {
    font-size: 14px;
    color: rgba(13, 19, 33, 0.853);
}

.wwd-content h2 {
    font-size: 21px;
    color: rgba(13, 19, 33, .7);
}

.wwd-content .caption p {
    margin-top: 13px;
}

.wwd-content {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 60px;
}

.wwd-content .caption {
    text-align: center;
}

.wwd-content .flex {
    display: flex;
    gap: 30px;
    padding: 30px;
    margin-top: 20px;
    align-items: center;
    border-radius: 10px;
}

.wwd-content .bg-toright {
    background: linear-gradient(to right, #fff, #ffffff00);
    justify-content: space-between;
    gap: 200px;
}

.wwd-content .bg-toleft {
    background: linear-gradient(to left, #fff, #ffffff00);
}

.wwd-content button {
    padding: 8px 15px;
    background-color: transparent;
    border: 1.5px solid #0d1321a7;
}

.wwd-content .flex p {
    margin: 10px 0 20px 0;
}

.wwd-content img {
    height: 215px;
}

/* inspiration-secrion */

.inspiration-section {
    margin-top: 50px;
    margin-bottom: 100px;
}

.inspiration-section .caption {
    text-align: center;
    margin-bottom: 30px;
}

.inspiration-section .caption p {
    margin-top: 10px;
}

.inspiration-section .yt-video iframe{
    width: 100%;
    height: 494px;
    border-radius: 10px;
}

.inspiration-section .yt-video {
    padding: 29px;
    border: 1.4px solid rgba(128, 128, 128, 0.375);
    border-radius: 13px;
}

/* my current target */

.current-target {
    margin-top: 50px;
    margin-bottom: 90px;
}

.current-target .caption {
    text-align: center;
}

.current-target .caption p {
    margin-top: 10px;
}

.current-target .technologys {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.current-target .technologys div:nth-child(1) {
    background-color: rgba(255, 76, 30,.05);
}

.current-target .technologys div:nth-child(2) {
    background-color: rgba(0, 76, 232, 0.05);
}

.current-target .technologys div:nth-child(3) {
    background-color: rgba(255, 223, 0, 0.05);
}

.current-target .technologys div {
    padding: 35px;
    border-radius: 10px;
}

.current-target .technologys h2 {
    font-size: 21px;
}

.current-target .technologys button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    letter-spacing: .5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.technologys div img {
    height: 50px;
    margin-bottom: 13px;
}

.current-target .technologys div p {
    margin: 10px 0 16px 0;
}

/* my next target */

.next-target .caption{
    text-align: center;
    margin-bottom: 30px;
}

.next-target .caption p {
    margin-top: 8px;
}

.next-target .items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

.items .item {
    display: flex;
    border: 1.4px solid rgba(128, 128, 128, 0.511);
    padding: 35px;
    border-radius: 10px;
    gap: 35px;
    align-items: center;

}

.items .item h2 {
    font-size: 21px;
}

.items .item p {
    margin: 7px 0 15px 0;
}

.items .item button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    letter-spacing: .5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

/* feedback section */

.feedback {
    border-radius: 12px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    height: 257px;
    margin-bottom: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feedback p {
    color: rgb(255, 255, 255);
    opacity: .7;
    margin: 5px 0 15px 0;
}

.feedback form input[type="text"]{
    width: 440px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    padding: 0 8px;
    font-size: 14px;
    border: none;
}

.feedback form input[type="submit"] {
    letter-spacing: .5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    padding: 11px 15px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    transition: all .2s linear;
}

.feedback form input[type="submit"]:hover {
    background-color: #dddddd;
}

/* footer  */

footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;

} 

footer {
    background: rgba(13, 19, 33, 0.03);
}

footer>div>p {
    font-size: 18px;
    font-weight: bold;
}

footer>div {
    padding: 20px 0;
}

footer div img {
    height: 32px;
    cursor: pointer;
    transition: all .2s linear;
}

footer div img:hover {
    height: 28px;
}

footer .icons {
    display: flex;
    gap: 15px;
}